node_modules/
*.log
.env
session/
.DS_Store
.eslintrc.json
package-lock.json
.env.production
.idea
yarn.lock
config/config.json
assets/img/
public/upload
private/upload
uploads
uploads_cms
uploads_confirm
temp
email_htmls
database/config/config.json
database/config/
*.csv
mapping.js
core/private.key
logs/
move_router/
move_migration/
core/bisaekspor-8ff80-d115115d4338.json